body {
    font-family: Arial, sans-serif;
    background-color: rgb(198, 216, 209);
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.navbar {
    background-color: rgb(12, 84, 60);
}

.navbar-brand {
    background-image: url('/images/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 80px;
    display: inline-block;
    text-indent: -9999px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(12, 84, 60);
}

.card-header {
    background-color: rgb(98, 148, 128);
    color: white;
}

.card-body {
    background-color: white;
    color: rgb(98, 148, 128);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    justify-content: center;
}

.btn-primary {
    background-color: rgb(12, 108, 68);
    border-color: rgb(12, 108, 68);
}

.btn-primary:hover {
    background-color: rgb(12, 84, 60);
    border-color: rgb(12, 84, 60);
}

.btn-secondary {
    background-color: rgb(98, 148, 128);
    border-color: rgb(98, 148, 128);
}

.btn-secondary:hover {
    background-color: rgb(78, 123, 100);
    border-color: rgb(78, 123, 100);
}

.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0.5rem;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container {
    max-width: 1200px;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

.col-md-2, .col-md4 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px 15px;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.btn-group .btn {
    flex: 1;
    margin: 0 2px;
}

.btn-group .btn.btn-danger {
    margin-left: 0;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-body .btn-group {
    margin-top: auto;
    align-items: center;
}
